body{
    background-color: #f0f0f0;
}
#calendar{
    width: 70%;
    height: 335px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.custom-event-content {
    display: flex;
    gap: 30px;
}
.table-section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.table-header{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.table-section table{
    display: none;
}
.table-section table.active{
    display: table;
}

/* HEADER STYLE */

header{
    background-color: #e0e0e0;
    width: 40%;
    margin-left: auto;
    margin-right:auto;
    display: flex;
    justify-content: space-evenly; 
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header a:hover{
    color: #336fb0;
    transition: 0.1s color ease-in;

}