:root{
    --primary-color: #0C1E3D;
    --secondary-color: #2359B3;
    --red-primary: #A5243D;
    --red-secondary: #8a1b31;
    --bg: #eef1f5;
    --text: #535353;
    --text-secondary:#c1bdbd;

}

body{
    background-color: var(--bg);
    margin: 0;
    color: var(--text);
    padding-top: 100px;
    font-family: "Inter", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}
html{
    height: 100%;
}
main{
    flex:1;
}
.reservation-page-body{
    width: 70%;
    margin: 30px auto;
}

/* HOME PAGE  */

.home-wrapper {
    width: 85%;
    margin: 30px auto;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    background-image: url("/bazesportive_website/assets/images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.hero-text {
    background-color: rgba(255,255,255,0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    width: 50%;
    padding: 30px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.hero p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero-btn {
    text-decoration: none;
    display: inline-block;
    padding: 12px 25px;
    background: var(--secondary-color);
    color: white;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s;
}

.hero-btn:hover {
    background: var(--primary-color);
}

.features {
    margin-top: 50px;
    text-align: center;
}

.features h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.feature-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.feature-item {
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.feature-item:hover {
    transform: translateY(-4px);
}

.feature-item img {
    width: 50px;
    margin-bottom: 15px;
}

.feature-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 15px;
    color: #666;
}


/* CALENDAR  */
#calendar{
    max-height: 400px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}
.fc-event {
    border: none;
    border-radius: 8px;
    padding: 5px;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}
.custom-event-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
}
.fc-timegrid-slot {
    height: 40px !important;
}

.fc-timegrid-slot-label {
    font-size: 13px;
    color: #555;
}
.fc-button-group{
    display: flex;
    gap: 7px;
}
.fc-timegrid-col {
    background: #fafafa;
}
.fc-highlight {
    background: rgba(43, 99, 255, 0.2) !important;
}
.fc-button{
    background-color: var(--secondary-color) !important;
    border: none !important;
}


/* TABLES */
.table-section{
    width: 80%;
    margin: 50px auto;
}
.table-header{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.table-section table{
    display: none;
}
.table-section table.active{
    display: table;
}
.table-section thead{
    background-color: var(--primary-color);
    color:#fff;
}

.btn-cancel-res{
    background-color: var(--red-primary);
    border-radius: 10px;
    height: 40px;
    width: 120px;
    color: #fff;
    border: 2px solid var(--red-secondary);
    transition: background-color 0.25s ease;
}
.btn-cancel-res:hover{
    background-color: var(--red-secondary);
}

/* NEW RESERVATION FORM */

.reservation-form{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    padding:0px 40px 40px 40px;
    background-color: inherit;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: 9999;

    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fade-in 0.25s ease;
}
.reservation-form h3{
    font-size: 25px;
    text-align: center;
}
.form-content {
    background: #f0f0f0;
    padding: 30px 35px;
    border-radius: 16px;
    width: 380px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);

    animation: slide-up 0.25s ease;
}
.form-content form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-content input,
.form-content select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.2s;
}

.form-content input:focus,
.form-content select:focus {
    border-color: #2b63ff;
    box-shadow: 0 0 4px rgba(43,99,255,0.4);
}
.form-content label {
    font-weight: 600;
    font-size: 14px;
}
.form-content button {
    background: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.form-content button:hover {
    background: var(--primary-color);
}

.form-content #close-form {
    background: #ddd;
    color: #333;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.form-content #close-form:hover {
    background: #c6c6c6;
}

.form-content div:last-child {
    display: flex;
    gap: 10px;
}

/* HEADER STYLE */

header{
    background-color: var(--primary-color);
    margin: 0;
    height: 75px;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
}
header img{
    height: 70px;
}
header h1{
    font-size: 30px;
}
header .left-side{
    display: flex;
    gap:10px;   
}
header .left-side a:hover{
    text-decoration: none;
}
header a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header a:hover{
    color: var(--red-primary);
    text-decoration: underline;
    transition: 0.1s color ease-in;
}
.navbar{
    display: flex;
    gap: 20px;
}
.menu-toggle{
    height: 30px;
    width: 30px;
    display: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px 20px;
    background: var(--primary-color);
    color: white;
    display: block;
    margin-top: 150px;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    text-align: right;
}
.address p{
    font-size: 15px;
}
footer div a:hover{
    text-decoration: none;
}
footer img{
    height: 120px;
}
footer a{
    text-decoration: none;
    color: var(--text-secondary);

}
footer a:hover{
    text-decoration: underline;
}

.error-box {
    background: #ffdddd;
    border-left: 3px solid #d8000c;
    color: var(--red-primary);
    padding: 2px 10px;
    margin-bottom: 5px;
    border-radius: 6px;
}
.success-box {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background: #ddffdd;
    border-left: 3px solid #4f8a10;
    color: #4f8a10;
    padding: 2px 10px;
    margin-bottom: 5px;
    border-radius: 6px;
    transition: all 0.5s ease;
}
.multi-select {
    position: relative;
}

.multi-select-header {
    padding: 5px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: white;
    border-radius: 6px;
    user-select: none;
    
}

.multi-select-list {
    display: none !important;
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    z-index: 99999;
}
.multi-select-list.show {
    display: block !important;
}
.participants-box{
    display: flex;
    flex-direction: column;
}
.multi-select-header img{
    height: 15px;
}
.multi-select-header p{
    margin: 0px;
}

/* Confirm popup */
.confirm-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.confirm-popup.hidden {
    display: none;
}

.confirm-box {
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    text-align: center;
    width: 320px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}

.confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirm-buttons button {
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

#confirm-yes {
    background-color: var(--red-primary);
    color: #fff;
}

#confirm-no {
    background-color: #ccc;
}

/* Toast */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.25);
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
    z-index: 999999;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.error {
    background: var(--red-primary);
}

/* LOADING SCREEN */
#loading {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    color: var(--secondary-color);
}
.spinner {
    width: 70px;
    height: 70px;
    border: 8px solid #fff;
    border-top-color: var(--secondary);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}


@media (max-width: 768px) {
    .reservation-page-body{
        width: 95%;
    }
    header .left-side img:nth-child(1){
        display: none;
        height:30px;
    }
    header h1{
        font-size: 25px;
    }
    .menu-toggle{
        display: block;
    }
    .navbar{
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 70px;
        background: #0C1E3D;
        padding: 10px 15px;
        border-radius: 0px 0px 0px 8px;
        width: 180px;
        box-shadow: 0 5px 12px rgba(0,0,0,0.3);
        z-index: 9999;
    }
    .navbar a {
        padding: 10px 0;
        margin: 0 !important;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .navbar.show {
        display: flex !important;
    }
    #calendar{
        height: 100dvh;
    }
    .table-section{
        width: 95%;
    }
    .btn-cancel-res{
        width: 70px;
    }
    .table-section th:nth-child(1) { width: 40%; }
    .table-section th:nth-child(2) { width: 25%; }
    .table-section th:nth-child(3) { width: 20%; }
    .table-section th:nth-child(4) { width: 5%; }
    .table-section th:nth-child(5) { width: 15%; }

    .footer-info{
        display: block;
        text-align: center;
    }
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-text{
        width: 100%;
    }
    .participant-item{
        display: flex;
        align-items: center;
        padding-top: 5px;
    }
    .participant-item input{
    height: 20px;
    width: 20px;
}
}

/* ANIMATIONS */
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide-up {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}